@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.awesome {
  background-color: #fff;
  padding: 15px;
}
.awesome-title {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #212121;
  margin: 100px 0px 25px 0px;
}
.awesome-line {
  width: 64px;
  margin: 0 auto;
  border: 0.5px solid #D98943;
  background-color:#D98943 ;
}
.awesome-text {
font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
color: #86878B;
text-align: center;
margin-top: 30px;
}
.awesome-cards {
}
.awesome-cards__item {
}
.awesome-cards__item-icon {
}
.awesome-cards__item-img {
}
.awesome-cards__item-title {
}
.awesome_cards__item-text {
}