.banner {
background: url('../image/bg/background_main.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  padding: 100px 0px;
}
.banner-container {
position: relative;
z-index: 2;
}
.banner::after{
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.55);
}
.banner-main{
  display:flex;
  flex-wrap: wrap;
  justify-content:space-between;
}
.banner-info {
  display:flex;
  flex-direction:column;
  flex-wrap: wrap;
  justify-content:space-around;
}
.banner-title {
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 60px;
line-height: 70px;
color: #FFFFFF;
text-transform: uppercase;
margin: 16px 0px;
}

.banner-title::after {
  content:"it";
  color:#EC7979;
}

.banner-subtitle {
margin: 16px 0px;
  max-width: 544px;
font-family: Raleway;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 42px;
text-transform: uppercase;
color: #FFFFFF;
}

.banner-subtitle::after {
  content:"";
  width: 64px;
  background-color: #fff;
  border: 1px solid #fff;
  display: block;
  margin-top: 32px;
  }

.banner-text {
  margin: 16px 0px;
max-width: 252px;
font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 19px;
display: flex;
align-items: center;
color: #86878B;
}

.banner-download{
  margin: 16px 0px;
  display: block;
  width: 135px;
  border: 1px solid #FFFFFF;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  transition: 0.25s;
  padding: 11px 26px;
}
.banner-download:hover{
  color: rgb(0, 0, 0);
  border: 1px solid #000000;
  background-color: rgb(255, 255, 255);
}

.banner-form {
  width: 370px;
  display:flex;
  flex-direction:column;
}
.banner-form__title{
  width: 100%;
  border-radius: 8px 8px 0px 0px;
  padding: 17px 0px;
  background-color: #fff;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #333333;
  text-transform: capitalize;
}
.banner-form-red{
  text-transform: uppercase;
  color:#EC7979;
}
.banner-form__item{
  width: 100%;
  background-color: #fff;
}
.banner-form__button{
width: 100%;
background-color: #EC7979;
font-family: Open Sans;
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 20px;
text-align: center;
color: #FFFFFF;
text-transform: capitalize;
border-radius: 0px 0px 8px 8px;
border: none; 
padding: 17px 0px;
text-decoration: none;
transition: 0.25s;
}
.banner-form__button:hover{
  background-color: #333333;
  color: #FFFFFF;
  cursor: pointer;
  }

.banner-form__label{
display: block;
font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 19px;
color: #BDBDBD;
text-transform: capitalize;
}
.banner-form__input{
  font-size: 16px;
  padding: 5px 0px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid#BDBDBD ;
}
.banner-form__input:focus{
    border: none;
    outline: none;
    border-bottom: 1px solid #EC7979 ;
  }
.banner-form__input-place{
  background-color: #fff;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
}
.banner-form__input-item{
margin: 5px auto;
padding: 10px 0px;
width: 240px;
}

@media (min-width: 910px) and (max-width: 1055px) { 
  .banner-title {
    display: none;
    }
    .banner-subtitle {
        max-width: 450px;
      }
      .banner {
          padding: 30px 0px;
        }
}
@media  (max-width: 910px) { 
  .banner-title {
    display: none;
    }
    .banner-subtitle {
        max-width: 90%;
        text-align: center;
      }
      .banner-subtitle::after {
        content:"";
        width: 40%;
        background-color: #fff;
        border: 1px solid #fff;
        display: block;
        margin: 30px auto;
        }
        .banner-text {
        max-width: 75%;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        color: #ffffff;
        }

      .banner {
          padding: 30px 0px;
        }
        .banner-info {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          justify-content: space-around;
          align-items: center;
        }
        .banner-main{
          display:flex;
          flex-wrap: wrap;
          justify-content:center;
        }
        .banner-download{
          margin: 35px 0px;
          display: block;
          width: 70%;
          border: 1px solid #FFFFFF;
          font-family: Open Sans;
          font-style: normal;
          font-weight: 600;
          font-size: 20px;
          line-height: 25px;
          text-align: center;
          color: #FFFFFF;
          transition: 0.25s;
          padding: 11px 26px;
        }
        .banner-form {
          width: 70%;
      }
      .banner-form__input-item {
        width: 80%;
    }
}
@media  (max-width: 570px) { 
  .banner-title {
    display: none;
    }
    .banner-subtitle {
        max-width: 95%;
        text-align: center;
      }
      .banner-subtitle::after {
        content:"";
        width: 85%;
        background-color: #fff;
        border: 1px solid #fff;
        display: block;
        margin: 30px auto;
        }
        .banner-text {
        max-width: 95%;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        color: #ffffff;
        }

      .banner {
          padding: 30px 0px;
        }
        .banner-info {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          justify-content: space-around;
          align-items: center;
        }
        .banner-main{
          display:flex;
          flex-wrap: wrap;
          justify-content:center;
        }
        .banner-download{
          margin: 35px 0px;
          display: block;
          width: 95%;
          border: 1px solid #FFFFFF;
          font-family: Open Sans;
          font-style: normal;
          font-weight: 600;
          font-size: 20px;
          line-height: 25px;
          text-align: center;
          color: #FFFFFF;
          transition: 0.25s;
          padding: 11px 26px;
        }
        .banner-form {
          width: 95%;
      }
      
}